{{ define "airports" }}
<!DOCTYPE html>
<html>
	{{ template "head" }}
	<body>
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					{{ template "header" . }}
					<div class="row">
						<div id="errorContainer"></div>
						<div class="col-sm-8">
							<div id="map"></div>
						</div>
						<div class="col-sm-4">
							<table class="table table-bordered">
								<tbody>
									<tr>
										<td><img src="/public/img/airport_icon_10px.png"></td>
										<td><strong>Aiport locations</strong></td>
									</tr>
									<tr>
										<td><span style="background: linear-gradient(to right, green , yellow, red);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
										<td><strong>Number of passengers</strong></td>
									</tr>
								</tbody>
							</table>
							<div class="panel panel-default">
								<div class="panel-heading">
									Selected airport
								</div>
								<div id="airportDetails" class="panel-body">
									Click on an airport to see its details
								</div>
							</div>
						</div>
					</div>
					{{ template "footer" . }}
				</div>
			</div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="/public/js/airports.js"></script>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGZ2aWPdiuUfYkrA-yiig-wQ7nsv4YbUM&libraries=visualization&callback=init"></script>
	</body>
</html>
{{ end }}
