{{ define "footer" }}
<hr>
<div class="row text-muted">
	<div class="col-xs-4">
		ISIMA 2018
	</div>
	<div class="col-xs-4 text-center">
		Projet Architectures Logicielles et Qualités
	</div>
	<div class="col-xs-4">
		<span class="pull-right">Dorian Selimovic</span>
	</div>
</div>
{{ end }}
