{{ define "header" }}
<div class="text-center form-group" style="margin-top: 10px;">
	<span id="pageTitle">Projet Archi Logicielle</span>
</div>
<div class="form-group">
	<ul class="nav nav-tabs">
		<li {{ if eq .Page "index" }} class="active" {{ end }}>
			<a href="/">
				<i class="fa fa-home"></i>&nbsp;&nbsp;Home
			</a>
		</li>
		<li {{ if eq .Page "airports" }} class="active" {{ end }}>
			<a href="/airports">
				<i class="fa fa-plane"></i>&nbsp;&nbsp;Airports
			</a>
		</li>
		<li {{ if eq .Page "routes" }} class="active" {{ end }}>
			<a href="/routes">
				<i class="fa fa-road"></i>&nbsp;&nbsp;Routes
			</a>
		</li>
		<li {{ if eq .Page "stats" }} class="active" {{ end }}>
			<a href="/stats">
				<i class="fa fa-chart-bar"></i>&nbsp;&nbsp;Stats
			</a>
		</li>
	</ul>
</div>
{{ end }}
