{{ define "index" }}
<!DOCTYPE html>
<html>
	{{ template "head" }}
	<body>
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					{{ template "header" . }}
					<div class="row">
						<div id="errorContainer"></div>
						<div id="display" class="col-sm-6 col-sm-offset-3">
							{{ if eq .Running true }}
								<div class="alert alert-success">
									The simulation is currently&nbsp;
									<i class="fa fa-check-circle"></i>
									<strong>running</strong>
								</div>
								<div class="text-center">
									<button id="stopSimul" class="btn btn-primary">
										<i class="fa fa-times-circle"></i>
										Stop simulation
									</button>
								</div>
							{{ else }}
								<div class="alert alert-danger">
									The simulation is currently&nbsp;
									<i class="fa fa-times-circle"></i>
									<strong>stopped</strong>
								</div>
								<div class="text-center">
									<button id="startSimul" class="btn btn-primary">
										<i class="fa fa-check-circle"></i>
										Start simulation
									</button>
								</div>
							{{ end }}
						</div>
					</div>
					{{ template "footer" . }}
				</div>
			</div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script defer src="/public/js/index.js"></script>
	</body>
</html>
{{ end }}
