{{ define "routes" }}
<!DOCTYPE html>
<html>
	{{ template "head" }}
	<body>
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					{{ template "header" . }}
					<div>
						<div id="errorContainer"></div>
						<div id="map"></div>
					</div>
					{{ template "footer" . }}
				</div>
			</div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="/public/js/routes.js"></script>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGZ2aWPdiuUfYkrA-yiig-wQ7nsv4YbUM&libraries=visualization&callback=init"></script>
	</body>
</html>
{{ end }}
