{{ define "stats" }}
<!DOCTYPE html>
<html>
	{{ template "head" }}
	<body>
		<style>
			.number {
				font-size: 28px;
			}
		</style>
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					{{ template "header" . }}
					<div class="row">
						<div id="errorContainer"></div>
						<div class="col-sm-5 col-lg-4 col-lg-offset-1">
							<div class="panel panel-default">
								<div class="panel-heading">Elapsed time in simulation</div>
								<div class="panel-body text-center" style="font-size: 20px;">
									<span id="elapsedTime" class="number"></span>
								</div>
							</div>
						</div>
						<div class="col-sm-7 col-lg-6">
							<div class="row">
								<div class="col-xs-6">
									<div class="panel panel-default">
										<div class="panel-heading">Number of transported passengers</div>
										<div class="panel-body text-center">
											<span id="transportedPassengers" class="number"></span>
										</div>
									</div>
								</div>
								<div class="col-xs-6">
									<div class="panel panel-default">
										<div class="panel-heading">Number of flights</div>
										<div class="panel-body text-center">
											<span id="flights" class="number"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{{ template "footer" . }}
				</div>
			</div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="/public/js/stats.js"></script>
		<script defer>init();</script>
	</body>
</html>
{{ end }}
